@tailwind base;
@tailwind components;
@tailwind utilities;

.root, #root, #docs-root {
    --white-00: #FFFFFF;
    --white-01: #FAFAFB;
    --white-02: #F0F2F3;

    --gray-00: #C4CBCD;
    --gray-01: #565656;

    --blue-00: #89C2D9;
    --blue-01: #468FAF;
    --blue-02: #01497C;

    --black-00: #000000;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Bold.ttf);
    font-weight: 700;
}

* {
    font-family: 'Roboto Mono';
}